h1{
    margin: 0px;
  }

  .imageViewerContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 750px;
  }

  .upperImageContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70%;
    align-self: center;
    margin-top: 3%;
    align-items: center;
  }

  .upperImage{
    width: 90%;
    height: 100%;
  }

  .lowerImageContainer{
    width: 100%;
    height: 25%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .lowerImageContainer > img{
    height: 100%;
    width: 30%;
    margin: 2%;
  }
  