html{
    height: 100%;
  }
    
  h1{
    margin: 0px;
  }

  .mainHomepage{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .homepageContainer{
    display: flex;
    flex-direction: column;
  }

  .homepageImage{
    width: 100%;
    height: 600px;
  }

  .featured{
    margin-top: 5%;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150.023%;
    margin-left: 3%;
  }

  

